<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Symbole</th>
            <th>Cours</th>
            <th>Pays</th>
            <th>Volume</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let quotes of listQuotes">
            <td>{{ quotes.Name }}</td>
            <td>{{ quotes.Symbol }}</td>
            <td>{{ quotes.LastTradePriceOnly }}</td>
            <td>{{ quotes.Currency }}</td>
            <td>{{ quotes.Volume }}</td>
            <td>
                <button type="button" class="btn btn-default" 
                        (click)="gotoDetail(quotes)">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
